
#titulo-principal{
    color: rgb(101, 6, 135);
}

#matrix-color{
    color: rgb(10, 109, 40);
    font-weight: bold;
}

.destaque-1{
    color: rgb(248, 85, 3);
    font-weight: bold;
}

.destaque-bluepill{
    color: rgb(1, 26, 166);
    font-weight: bold;
}
.destaque-redpill{
    color: rgb(168, 2, 2);
    font-weight: bold;
}
.destaque-2{
    color: rgb(3, 162, 248);
    font-weight: bold;
}
#btnRedpill{
    background-color: rgb(168, 2, 2);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 4px solid rgb(71, 0, 0);

}
#btnBluepill{
    background-color: rgb(1, 26, 166);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    margin:10px;
    border: 4px solid rgb(0, 0, 71);
}
