body{
    background-color: #f4f7f6;
    font-family: "Roboto", sans-serif;
}
.cabecalho{
    background-color: #00bf51;
    color: white;
    width: auto;
    height: 150px;
    padding: 30px 0px;

    text-align: center;
    font-size: 26px;
}

.bloco-branco{
    background-color: white;
    width: 1250px;
    height: 1000px;
    margin: 60px auto;
    padding: 60px;
}

.bloco-cinza{
    background-color: #f4f7f6;
    margin: 30px 30px;
    width: 1160px;
    height: 450px;
    padding: 30px;
    margin: 0 auto;


    color:#00bf51
}
input{
    width: 1120px;
    height: 50px;
    margin: 15px 0;
    padding: 0px 20px;

    font-size: 26px;

    border: 3px solid #dddcdc;
    border-radius: 10px;
}
button{
    background-color: #00bf51;
    color: white;
    width: 1165px;
    height: 50px;
    margin: 15px 0;
    padding: 0px 20px;

    font-size: 26px;

    border: 0px;
    border-radius: 10px;

}

table{
    max-width: 1300px;
    width: 100%;
    height: 450px;
    margin: 15px 0;

    font-size: 26px;
    border-collapse: collapse;
}

td, th{
    padding: 0px 20px;
    
    text-align: left;
    
    
    
}
td{
    border-bottom: 5px solid #d9dad9;
}
th{
    background-color: #00bf51;
    color: white;

    font-weight: bold;

    border-left: none;
}

.zebra-table tr:nth-child(even){
    background-color: #f4f7f6;
}
/*#trEven{
    background-color: #f4f7f6;
}*/

tr{
    
}

td:hover{
    background-color: #cdfcea;
    transform: translateX(5px);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}   