body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 50%;
    height: 100px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    
    transform: translateY(200px);
    background-color: red;
    color: white;
}
button.ativo{
    transform: translateY(225px);
    background-color: white;
    color: red;
}
.tela-padrao{
    background-color: white;
}
.tela-vermelha{
    background-color: red;
}
.fonte{
    font-size: 75px;
    transform: translateY(200px);
}