body{
    font-family: "SN Pro", sans-serif;
}
/*---------------------- fundo ----------------------*/
.tema-padrao{
    background-color: #fff;
}

/*---------------------- h1 e h2 ----------------------*/
#titulo.padrao, #jogos.padrao{
    color: #001d5f;
}
/*---------------------- capa ----------------------*/
#capaEmpresas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#capaEmpresas img{
    height: 100%;
    width: auto;
}
.capa-capcom.ativo, .capa-sega.ativo, .capa-ubisoft.ativo, .capa-padrao.ativo{
    display: flex;
}
/*.capa-padrao, .capa-capcom, .capa-sega, .capa-ubisoft{
  
}*/
/*----------------------- botoes ---------------------*/
#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
button.padrao{
    background-color: #001d5f;
    color: #00e7f6;
}
#btnCapcom.ativo, #btnSega.ativo, #btnUbisoft.ativo, #btnHome.ativo{
    display: flex;
}
/*---------------------- imagens ----------------------*/
.empresas-banner img{
    aspect-ratio: 2 / 3;
    object-fit: cover;
}
#imgJogos img{
    border-radius: 5%;
    height: 60vh;
    width: auto;
    margin-left: 5px;
}
.empresas-banner{
    display: flex;
    flex-direction: row;
}
.jogos-capcom.ativo, .jogos-sega.ativo, .jogos-ubisoft.ativo, .empresas-banner{
    display: flex;
}