body{
    font-family: "SN Pro", sans-serif;
}
.remove{
    display: none;
}
/*---------------------- fundo ----------------------*/
.tema-padrao{
    background-color: #fff;
}
.tema-capcom{
    /*background-image: linear-gradient(to top, #020ae1,  #7E8179, #fAf811);*/
    background-image: linear-gradient(to top, 
        #004AB3 0%,
        #1E6E8C 20%,
        #9EAD8A 50%,   /* neutro claro no meio */
        #E8C24A 75%,
        #FFD723 100%
    );
    /*background: radial-gradient(circle at center, 
   #FFD723 0%, 
   #A9B320 33%, 
   #2B7A5C 66%, 
   #004AB3 100%);*/
}

/*---------------------- h1 e h2 ----------------------*/
#titulo.padrao, #jogos.padrao{
    color: #001d5f;
}
/*---------------------- capa ----------------------*/
#capaEmpresas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#capaEmpresas img{
    height: 100%;
    width: auto;
}

/*----------------------- botoes ---------------------*/
#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
button.padrao{
    background-color: #001d5f;
    color: #00e7f6;
}

/*---------------------- imagens ----------------------*/
.empresas-banner img{
    aspect-ratio: 2 / 3;
    object-fit: cover;
}
#imgJogos img{
    border-radius: 5%;
    height: 60vh;
    width: auto;
    margin-left: 5px;
}
.empresas-banner{
    display: flex;
    flex-direction: row;
}
